@model AproturWeb.Data.Entities.Documento

<div>
    <h4> @Html.DisplayFor(model => model.Nombre)</h4>
</div>
<div>
    @if (Model.DocumentosProyectos != null && Model.DocumentosProyectos.Count > 0)
    {
            <a asp-action="Edit" asp-route-id=@Model.Id class="btn btn-warning">Editar</a>
    }
  
     <a asp-action="VincularProyecto" asp-route-id=@Model.Id class="btn btn-info">Vincular Proyecto</a>
   
    <a asp-action="Index" class="btn btn-success">Retornar al Listado de Documentos</a>
</div>

@if (Model.DocumentosProyectos == null || Model.DocumentosProyectos.Count == 0)
{
    <h5>No existen proyectos vinculados con el documento seleccionado!</h5>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-headingt">
                    <h5 class="panel-title">Proyectos Vinculados con el Documento</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" style="width:100%" id="MyTable">
                        <thead>
                            <tr>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DocumentosProyectos)
                            {
                                <tr>
                                    <td style="width: 80%">
                                        @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
                                    </td>
                                    <td id="@item.Id" style="width: 10%">
                                       <a asp-action="DesvincularProyecto" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div id="deleteDialog" class="modal fade" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                <h4 class="modal-title">Desvincular</h4>
            </div>
            <div class="modal-body">
                <p>Está seguro de desvincular el proyecto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Si</button>
                <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        var localization = getCookie('.AspNetCore.Culture');

        $('#MyTable').DataTable({
            language: {
                url: localization
            },
            responsive: true
        });


        $(document).ready(function () {
            $('#MyTable').DataTable();
            var id = 0;
            $('a[id*=btnDelete]').click(function () {
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal('show');
                return false;
            });
            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal('hide');
                return false;
            });
            $("#btnYesDelete").click(function () {
                 window.location.href = "@Url.Action("DesvincularProyecto", "Documento")" + "/" + id;
            });
        });
    </script>
}