@model AproturWeb.Models.BusquedaViewModel

@{
    ViewData["Title"] = "Búsqueda Avanzada de documentos";
}


<div class="row">
    <div class="col-md-10 offset-md-1 ">
        <h4>Búsqueda Avanzada de documentos</h4>
         <div class="form-group">
           <a asp-action="Search" asp-controller="Home" class="btn btn-success">Regresar</a>
         </div>
        <hr />
        @if(Model.Documentos != null)
        {
            <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" style="width:100%" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().Anio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().Autor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().ReferenciaAPA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Documentos.FirstOrDefault().FormatoDocumento.Nombre)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Documentos)
                        {
                        <tr>
                            <td style="width: 5%">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td style="width:20%">
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td style="width:20%">
                                @Html.DisplayFor(modelItem => item.Anio)
                            </td>
                            <td style="width:10%">
                                @Html.DisplayFor(modelItem => item.Autor)
                            </td>
                            <td style="width:10%">
                                @Html.DisplayFor(modelItem => item.ReferenciaAPA)
                            </td>
                             <td style="width:10%">
                                @Html.DisplayFor(modelItem => item.FormatoDocumento.Nombre)
                            </td>
                            <td  id="@item.Id" style="width:10%">
                                @if (item.FormatoDocumento.Id_Local != 1)
                                {
                                    <a href='javascript:verDocumento(@item.Id,"@item.Nombre","@item.Titulo","@item.Ruta",@item.FormatoDocumento.Id_Local,@item.Anio,"@item.Autor")' class="fa fa-download"></a>
                                }
                                else
                                {
                                    <a href='javascript:verDocumento(@item.Id,"@item.Nombre","@item.Titulo","@item.Enlace",@item.FormatoDocumento.Id_Local,@item.Anio,"@item.Autor")' class="fa fa-download"></a>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            </div>
        }
        else
        {
            <h4>No se encontraron documentos bajo los criterios de búsqueda dados!</h4>
        }

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">

        /**
    * Muestra el documento y su información básica
    * param  id {int} Identifica el documento
    * param  nombre {string} Nombre del documento
    * param  titulo {string} Título del documento
    * param  ruta {string} Ruta del documento
    * param  tipodocumento {int} Identifica el tipo de documento
    * param  descripcion {string} Descripcion del documento
    * param  autor {string} Autor del documento
    * return  {boolean}
   */
    function verDocumento(id, nombre, titulo, ruta, tipodocumento, descripcion, autor) {
        
        if (tipodocumento > 1) ruta = 'http://190.147.168.232/Aprotur/kmz/' + ruta;
        var w = 800;
        var h = 600;
        if (tipodocumento === 3 ) 
         {
            w = 300;
            h = 200;
         }
        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
        var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

        var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

        var left = ((width / 2) - (w / 2)) + dualScreenLeft;
        var top = ((height / 2) - (h / 2)) + dualScreenTop;
        var title = "";

        if (tipodocumento === 5) {
            title = 'Pdf';
        }
        if (tipodocumento === 4) {
           title = 'Imágen';
        }
        if (tipodocumento === 3) {
            title = 'Audio';
        }
        if (tipodocumento === 2) {
            title = 'Vídeo';
        }

        if (tipodocumento === 1) {
            title = 'Base Documental';
        }
         var newWindow = window.open(ruta, title, 'scrollbars=yes,resizable=1,status=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        // Puts focus on the newWindow
        if (window.focus) {
            newWindow.focus();
        }
    }


        $(document).ready(function () {

            $('#MyTable').DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                responsive: true
            });

       });
    </script>
}

